.embedWrapper {
  display: block;
}

.embed {
  display: flex;
  overflow: hidden;
  border: 1px solid var(--border);
  border-radius: 1rem;
  transition: background-color 0.25s ease-in-out;
}
.embed:hover {
  background-color: var(--code-bg);
}

.embedText {
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
}

.embedTextTitle {
  overflow: hidden;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.embedTextDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.embedTextSite {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.embedTextSiteImage {
  max-height: 1em;
  aspect-ratio: 1 / 1;
}

.embedTextSiteName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.embedImage {
  max-width: 40%;
  max-height: 8rem;
  object-fit: cover;
  border-left: 1px solid var(--border);
}
