{
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "plugins": ["react", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "pragma": "h",
      "version": "16.0"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "rules": {
    "react/prop-types": "off",
    "react/no-unknown-property": [
      "error",
      {
        "ignore": ["class"]
      }
    ]
  }
}
