/node_modules
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
/coverage
/.next/
/out/
.env.local
.env.development.local
.env.test.local
.env.production.local
.vercel
*.tsbuildinfo
/articles