:root {
  --primary: #0c6e73;
  --text: #2c363f;
  --text-quote: #565e65;
  --background: #e7f5f6;
  --border: #ced8d9;
  --sans-serif: -apple-system, "BlinkMacSystemFont", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", "Meiryo", sans-serif;
  --monospace: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo",
    monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #58babf;
    --text: #e7f5f6;
    --text-quote: #a2acac;
    --background: #2c363f;
    --border: #414a52;
  }
}
