.navList {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  font-size: 1.5rem;
}

.navIcon {
  display: inline-block;
  margin-right: 0.25em;
}

.navLink {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  transition: color 0.2s;
}
.navLink:hover {
  color: var(--primary-text);
}

.hamburgerButton {
  display: none;
  transition: transform 0.1s ease-in-out;
}
.hamburgerButtonClicked {
  transform: rotate(90deg);
}

@media screen and (max-width: 640px) {
  .navList {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    background-color: var(--background-header);
    backdrop-filter: blur(10px);
    border: 1px solid var(--border);
    border-radius: 0.5rem;
  }

  .hamburgerButton {
    display: block;
    padding: 0.25em;
    font-size: 2rem;
    background-color: unset;
    border: unset;
  }
}
