.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding: 0 1.5rem;
  background-color: var(--background-header);
  backdrop-filter: blur(10px);
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.logoLink {
  margin-right: auto;
}

.logoImg {
  width: auto;
  height: 3rem;
}

.navList {
  display: flex;
  gap: 1em;
  align-items: center;
  font-size: 1.5rem;
}

.navLink {
  transition: color 0.2s;
}
.navLink:hover {
  color: var(--primary);
}
