.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding: 0 1rem;
  background-color: var(--background-header);
  backdrop-filter: blur(10px);
}

.headerList {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
}

.headerBrand {
  margin-right: auto;
}

.headerBrandLogo {
  width: auto;
  height: 3rem;
}

.headerLink {
  transition: color 0.2s;
}
.headerLink:hover {
  color: var(--primary);
}
