:root {
  --primary: #79b4e4;
  --text: #313131;
  --text-quote: #626262;
  --background: #fff;
  --border: #ced8d9;
  --code-bg: #dde0e4;

  --sans-serif: -apple-system, "BlinkMacSystemFont", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", "Meiryo", sans-serif;
  --monospace: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo",
    monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ebedef;
    --text-quote: #b8bbbe;
    --background: #121c26;
    --border: #596067;
    --code-bg: #2a333c;
  }
}
