:root {
  --primary-text: #517a9c;
  --primary-bg: #79b4e4;
  --text: #4d4d4d;
  --text-quote: #626262;
  --background: #fff;
  --background-header: rgba(255, 255, 255, var(--header-opacity));
  --border: #ced8d9;
  --code-bg: #dde0e4;

  --header-opacity: 0.7;
  --header-height: 5rem;

  --sans-serif: -apple-system, "BlinkMacSystemFont", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", "Meiryo", sans-serif;
  --monospace: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo",
    monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-text: #79b4e4;
    --primary-bg: #79b4e4;
    --text: #ebedef;
    --text-quote: #b8bbbe;
    --background: #121c26;
    --background-header: rgba(18, 28, 38, var(--header-opacity));
    --border: #596067;
    --code-bg: #2a333c;
  }
}
