.section > * + * {
  margin-top: 1.5em;
}

.pragraph {
  line-height: 2;
}

.blockquote {
  padding: 1em 1.5em;
  color: var(--text-quote);
  border-left: 0.25em solid var(--border);
}

.math {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-top: 2px solid var(--border);
  border-bottom: 2px solid var(--border);
}
.table > thead {
  border-bottom: 1px solid var(--border);
}

.tableCell {
  padding: 0.5em 1em;
}
.tableCellLeft {
  text-align: left;
}
.tableCellRight {
  text-align: right;
}
.tableCellCenter {
  text-align: center;
}

.list {
  padding-left: 1.5em;
}
ul.list {
  list-style: disc;
}
ol.list {
  list-style: decimal;
}
.list > li::marker {
  color: var(--text-quote);
}

.descriptionTerm {
  font-weight: 700;
}
.descriptionTerm::after {
  margin-left: 0.1em;
  content: ":";
  content: ":" / "";
}
* + .descriptionTerm {
  margin-top: 1em;
}

.descriptionDescription {
  padding-left: 1.5em;
  margin-top: 0.25em;
}

.thematicBreak {
  margin: 2em 0;
  border-top: 1px solid var(--border);
}

.section > .heading {
  padding-bottom: 0.25em;
  margin-top: 2em;
  font-weight: 700;
  border-bottom: 1px solid var(--border);
  scroll-margin-top: calc(var(--header-height) + 1rem);
}
.root > .section:first-child > .heading {
  margin-top: 0;
}
h1.heading {
  font-size: 2rem;
}
h2.heading {
  font-size: 2rem;
}
h3.heading {
  font-size: 1.5rem;
}
h4.heading {
  font-size: 1.3rem;
}
h5.heading {
  font-size: 1.2rem;
}
h6.heading {
  font-size: 1.1rem;
}
.headingLink {
  display: inline-block;
  margin-right: 0.25rem;
  color: var(--text-quote);
  transition: color 0.2s ease-in-out;
}
.headingLink:hover {
  color: var(--primary-text);
}
.headingLinkIcon {
  font-size: 1rem;
}
.heading:target > .headingLink {
  color: var(--primary-text);
}

.footnoteReference {
  font-weight: 700;
  scroll-margin-top: calc(var(--header-height) + 1rem);
}

.footnoteDefinition {
  display: grid;
  grid-template-areas: "content link .";
  grid-template-columns: auto auto 1fr;
  gap: 0.5rem;
  margin: 0.5rem 0;
}
.footnoteDefinition > * {
  margin: 0;
}
.footnoteDefinitionLink {
  grid-area: link;
  align-self: end;
}

.image {
  width: 100%;
  height: auto;
}

.link {
  color: var(--primary-text);
}
.link:hover {
  text-decoration: underline;
}

.inlineCode {
  padding: 0.1em 0.4em;
  font-family: var(--monospace);
  background-color: var(--code-bg);
  border-radius: 0.2em;
}
