.tag {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--primary);
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
}

.tag::before {
  content: "#";
}

.tag:hover {
  background-color: var(--primary);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
