/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1031;

  width: 100%;
  height: 2px;
  background: var(--primary-bg);
}

/* Fancy blur effect */
#nprogress .peg {
  position: absolute;
  right: 0px;
  display: block;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 10px var(--primary-bg),
    0 0 5px var(--primary-bg);
  opacity: 1;

  transform: rotate(3deg) translate(0px, -4px);
}
