.shareList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 1rem;
}

.link {
  border: 1px solid var(--primary);
  border-radius: 99rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
  background-color: unset;
}
.link:hover {
  background-color: var(--primary);
}

.linkIcon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}
