.article {
  display: grid;
  grid-template-areas:
    "emoji title"
    "emoji meta"
    "emoji lead"
    "emoji .";
  grid-template-rows: repeat(3, auto) 1fr;
  grid-template-columns: auto 1fr;
  row-gap: 0.25rem;
  column-gap: 0.5rem;
  container-type: inline-size;
}

.articleHeading {
  grid-area: title;
}

.articleEmoji {
  grid-area: emoji;
  font-size: 2.5rem;
  font-size: max(2.5rem, 8cqw);
}

.articleMeta {
  grid-area: meta;
}

.articleLead {
  grid-area: lead;
}
