.header {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "emoji"
    "heading"
    "meta";
  gap: 1rem;
  margin-bottom: 2rem;
}

.heading {
  grid-area: heading;
}

.meta {
  grid-area: meta;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1rem;
}

.emoji {
  grid-area: emoji;
  place-self: center;
  font-size: 4rem;
}

.metaItem {
  display: inline;
}
.metaItem > dt {
  display: inline;
  margin-right: 0.25rem;
}
.metaItem > dt::after {
  content: ":";
  content: ":" / "";
}
.metaItem > dd {
  display: inline;
}

.box {
  margin-top: 1rem;
  flex-basis: 100%;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
