.article {
  --content-width: 80ch;
  --aside-width: 30ch;
  --column-gap: 1rem;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  column-gap: var(--column-gap);
  max-width: calc(
    var(--content-width) + var(--aside-width) + var(--column-gap)
  );
  margin: 0 auto;
}

.content {
  width: calc(100% - var(--aside-width) - var(--column-gap));
}

.aside {
  width: 30ch;
}

@media screen and (max-width: 130ch) {
  .content {
    width: 100%;
  }

  .aside {
    display: none;
  }
}
