.nav {
  position: sticky;
  top: calc(var(--header-height) + 1rem);
  color: var(--text-quote);
}

.title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: var(--text);
}

.list {
  padding: 0.25rem 0 0.25rem 0.5rem;
}

.item {
  padding-left: 0.5rem;
  border-left: 2px solid var(--border);
  transition: border 0.2s ease-in-out;
}
.active {
  border-left-color: var(--primary);
}

.link {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: color 0.2s ease-in-out;
}
.link:hover {
  color: var(--text);
}
