.nav {
  position: sticky;
  top: calc(var(--header-height) + 1rem);
  color: var(--text-quote);
}

.title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: var(--text);
}

.list {
  padding-left: 1rem;
}

.item {
  margin: 0.25rem 0;
}

.link {
  padding-left: 0.5rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: color 0.2s ease-in-out;
}
.link:hover {
  color: var(--text);
}

.linkActive {
  border-left: 1px solid var(--primary);
}
